<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  IgnorableNamespaces="uap desktop4 desktop5 rescap com">

  <Identity
    Name="49014Shompinice.56633C86839ED"
    Publisher="CN=8136FD48-8D5A-4FB2-8DF9-A606C867768F"
    Version="1.0.1.0"
    ProcessorArchitecture="x64" />

  <Properties>
    <DisplayName>Create Folder With Selection</DisplayName>
    <PublisherDisplayName>Shompinice</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Resources>
    <Resource Language="ar-SA" />
    <Resource Language="bg-BG" />
    <Resource Language="ca-ES" />
    <Resource Language="cs-CZ" />
    <Resource Language="da-DK" />
    <Resource Language="de-DE" />
    <Resource Language="el-GR" />
    <Resource Language="en-GB" />
    <Resource Language="en-US" />
    <Resource Language="es-ES" />
    <Resource Language="es-MX" />
    <Resource Language="et-EE" />
    <Resource Language="fi-FI" />
    <Resource Language="fr-CA" />
    <Resource Language="fr-FR" />
    <Resource Language="he-IL" />
    <Resource Language="hr-HR" />
    <Resource Language="hu-HU" />
    <Resource Language="id-ID" />
    <Resource Language="it-IT" />
    <Resource Language="ja-JP" />
    <Resource Language="ko-KR" />
    <Resource Language="lt-LT" />
    <Resource Language="lv-LV" />
    <Resource Language="ms-MY" />
    <Resource Language="nb-NO" />
    <Resource Language="nl-NL" />
    <Resource Language="pl-PL" />
    <Resource Language="pt-BR" />
    <Resource Language="pt-PT" />
    <Resource Language="ro-RO" />
    <Resource Language="ru-RU" />
    <Resource Language="sk-SK" />
    <Resource Language="sl-SI" />
    <Resource Language="sr-Latn-RS" />
    <Resource Language="sv-SE" />
    <Resource Language="th-TH" />
    <Resource Language="tr-TR" />
    <Resource Language="uk-UA" />
    <Resource Language="vi-VN" />
    <Resource Language="zh-CN" />
    <Resource Language="zh-TW" />
  </Resources>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>

  <Applications>
    <Application Id="CreateFolderWithSelection.App"
      Executable="CreateFolderWithSelection.Gui\CreateFolderWithSelection.Gui.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="Create Folder With Selection"
        Description="Create folder with selection"
        BackgroundColor="#0078D7"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Square71x71Logo="Images\SmallTile.png" Wide310x150Logo="Images\WideTile.png" Square310x310Logo="Images\LargeTile.png"/>
        <uap:SplashScreen Image="Images\SplashScreen.png"/>
      </uap:VisualElements>
      <Extensions>
        <desktop4:Extension Category="windows.fileExplorerContextMenus">
          <desktop4:FileExplorerContextMenus>
            <desktop5:ItemType Type="*">
              <desktop5:Verb Id="PasteExCommand" Clsid="E062D552-3269-4564-98C0-410714272456" />
            </desktop5:ItemType>
          </desktop4:FileExplorerContextMenus>
        </desktop4:Extension>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:SurrogateServer DisplayName="Create Folder With Selection Shell Extension">
              <com:Class Id="E062D552-3269-4564-98C0-410714272456" Path="CreateFolderWithSelection.ShellExt\CreateFolderWithSelection.ShellExt.dll" ThreadingModel="STA"/>
            </com:SurrogateServer>
          </com:ComServer>
        </com:Extension>
      </Extensions>
    </Application>
  </Applications>
</Package>